* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    padding: 60px 60px;
}

.container {
    display: flex;
    gap: 42px;
}

.content {
    margin-block-start: 25px;
}

.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(103, 103, 103);
}

.icon-wrapp {
    display: flex;
    gap: 70px;
    align-items: center;
    margin-bottom: 20px;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 10px;

}

.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.blue {
    background: #dfecffde;
}

.green {
    background: #dcfee9;
}

.icon-text h4 {
    font-size: 15px;
    font-weight: 600;
    color: #222;

}

.icon-text p {
    margin: 3px;
    font-size: 13px;
    color: #666;
}


.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    background: #2cb38b;
    color: white;
    border-radius: 7px;
    font-size: 15px;
}

.card {
    width: 73%;
    height: 488px;
    background: #f4f4f9;
    border: 10px;
    border-radius: 8px;
    overflow: hidden;
     box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
    width: 96%;
    border-radius: 8px;
    object-fit: cover;
    margin: 7px;
}